# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# PyTorch
torch_compile_debug/

# MkDocs
site/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
.venv/
venv/
env/
